*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  color: $color-font-light;  
  font-weight: 300;
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: 500;
}