// COLOR VARIABLES
$color-primary: #5cdb95;
$color-primary-dark: #379683;
$color-primary-light: #8ee4af;

$color-secondary: #05386b;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-font-light: #edf5e1;

// FONT VARIABLES
$font-primary: "Open Sans", sans-serif;
// $font-display: "Josefin Sans", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200
$bp-large: 62.5em; //1000
$bp-medium: 50em; //800
$bp-small: 37.5em; //600