*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /*set it to default font size of browser setting - by default is 16px*/
  font-size: 62.5%; /*10px for easier 1 rem computation*/
  color: chocolate;
}

body {
  padding: 3rem;
  box-sizing: border-box;
}

::selection {
  /* background-color: $color-primary;
  color: $color-white; */
}
